[
  {lager, [
    {handlers, [
      {lager_file_backend, [{file, "log/error.log"}, {level, error}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", ime, " [", severity, "] ", pid, " ", module, " ", function, " ", line, " ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/info.log"}, {level, info}, {formatter, lager_default_formatter},
        {formatter_config, [message, "\n"]}]},
      {lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {size, 5120}, {date, "$W5D16"}, {count, 3}]}
    ]}
  ]}
].